In [12]:
import pandas as pd
import numpy as np

In [13]:
def days360(start_date, end_date, method_eu=False):
    start_day = start_date.day
    start_month = start_date.month
    start_year = start_date.year
    end_day = end_date.day
    end_month = end_date.month
    end_year = end_date.year

    if (
            start_day == 31 or
            (
                    method_eu is False and
                    start_month == 2 and (
                            start_day == 29 or (
                            start_day == 28 and
                            start_date.is_leap_year is False
                    )
                    )
            )
    ):
        start_day = 30

    if end_day == 31:
        if method_eu is False and start_day != 30:
            end_day = 1

            if end_month == 12:
                end_year += 1
                end_month = 1
            else:
                end_month += 1
        else:
            end_day = 30

    return (
            end_day + end_month * 30 + end_year * 360 -
            start_day - start_month * 30 - start_year * 360)

In [14]:
df=pd.read_csv("C:/dates_sample.csv")
df.head(5)

        Date1       Date2
0   10/1/2021   10/1/2021
1  11/15/2021  10/31/2021
2  12/15/2021  11/30/2021
3   1/15/2022  12/31/2021
4   2/15/2022   1/31/2022

In [15]:
df['Date1'] = pd.to_datetime(df['Date1'])
df['Date2'] = pd.to_datetime(df['Date2'])
df['Date_Diff'] = df.apply(
            lambda x: days360(x['Date2'], x['Date1']),
            axis=1)
df['Date_Diff']

0       0
1      15
2      15
3      15
4      15
       ..
316    15
317    15
318    15
319    15
320    15
Name: Date_Diff, Length: 321, dtype: int64